.documentsList {
  height: 100%;
  width: 30rem;
  background-color: #dddddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  flex-shrink: 0;
}

.draggableWrapper {
  margin-left: auto;
  width: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.draggablePanel {
  width: 0.3rem;
  height: 10rem;
  background-color: #44444481;
  cursor: col-resize;
}

.listContent {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.documentsDirectory {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;

  /* background-color: #ffffff; */
}

.directoryTitle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.directoryTitle:hover {
  color: #fd9152;
}

.directoryTitle svg {
  width: 3rem;
  margin-right: 0.5rem;
}

.directoryTitle svg path {
  fill: #fd9152;
}

.directoryChildrens {
  margin-left: 1.5rem;
  display: none;
  border-left: 1px solid #808080;
  padding-left: 0.5rem;
}

.directoryChildrensOpened {
  display: initial;
}

.documentItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 1rem 0;

}

.documentItem svg {
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
}

.documentItem svg path {
  fill: #7d89f5;
}

.documentItem:hover {
  color: #7d89f5;
}

.documentInfo {
  max-width: 300px;
}

.documentName {
  display: block;
}

.documentDate {
  font-size: 10px;
  color: #808080;
}

.addDocumentButtonWrapper {
  margin-top: auto;
}

.addDocumentButton {
  outline: none;
  cursor: pointer;
  border: 2px solid #bdbdbd;
  color: #8a8a8a;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.addDocumentButton > svg {
  margin-right: 10px;
  opacity: 0.3;
}

.addDocumentButton:hover {
  background-color: #ccc;
}

.list {
  overflow-y: auto;
}